CREATE DATABASE MonShop

USE MonShop
GO
USE MASTER
/****** Object:  Table [dbo].[Account]    Script Date: 3/15/2023 8:50:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[image] [varchar](1000) NULL,
	[fullname] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[phone_number] [varchar](20) NULL,
	[is_deleted] [bit] NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/15/2023 8:50:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 3/15/2023 8:50:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[sku] [varchar](5) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NULL,
	[subtotal] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/15/2023 8:50:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[order_date] [varchar](10) NULL,
	[total] [float] NULL,
	[order_status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 3/15/2023 8:50:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[order_status_id] [int] NOT NULL,
	[order_status] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/15/2023 8:50:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[sku] [varchar](5) NOT NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[image] [varchar](255) NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[description] [text] NULL,
	[category_id] [int] NULL,
	[product_status_id] [int] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStatuses]    Script Date: 3/15/2023 8:50:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStatuses](
	[product_status_id] [int] NOT NULL,
	[product_status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/15/2023 8:50:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] NOT NULL,
	[role_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([email], [password], [image], [fullname], [address], [phone_number], [is_deleted], [role_id]) VALUES (N'duonghongquan0312@gmail.com', N'03122002', N'https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.30808-6/305401618_112341014941746_7229606053298462997_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=nl2JmISRQIQAX_BlZQ6&_nc_ht=scontent.fsgn5-6.fna&oh=00_AfCCJFIXd6zKhoSLteUx7ectAhHgZpDI6Yq6HYz2O4dA0Q&oe=640AA20A', N'Duong Hong Quan', N'Da lat', N'0366967957', 0, 1)
INSERT [dbo].[Account] ([email], [password], [image], [fullname], [address], [phone_number], [is_deleted], [role_id]) VALUES (N'lemyngoc@gmail.com', N'09102002', N'https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.30808-6/310038396_123571710485343_8469787686293420920_n.jpg?stp=cp6_dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=ru9bQgACtPcAX_YRlUN&_nc_ht=scontent.fsgn5-6.fna&oh=00_AfBq-_jcyEKaVefBpx9DKU_KX8aGLepOKYP_iWh5nHKcGw&oe=640A13E5', N'Le Thi My Ngoc', N'Tuy Hoa', N'0900 000 0000', 0, 2)
INSERT [dbo].[Account] ([email], [password], [image], [fullname], [address], [phone_number], [is_deleted], [role_id]) VALUES (N'nguyenthanhhoa@gmail.com', N'hoa123', N'https://randomuser.me/api/portraits/women/42.jpg', N'Nguyen Thanh Hoa', N'Hanoi', N'0987654321', 0, 2)
GO
INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (1, N'T-Shirt')
INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (2, N'Hoodie')
INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (3, N'Pant')
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [sku], [quantity], [price], [subtotal]) VALUES (1, 1, N'P0010', 1, 17, 17)
INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [sku], [quantity], [price], [subtotal]) VALUES (2, 1, N'P0008', 1, 31, 31)
INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [sku], [quantity], [price], [subtotal]) VALUES (3, 1, N'P0001', 1, 35, 35)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [email], [order_date], [total], [order_status_id]) VALUES (1, N'duonghongquan0312@gmail.com', N'10/03/2023', 145, 3)
INSERT [dbo].[Orders] ([order_id], [email], [order_date], [total], [order_status_id]) VALUES (2, N'lemyngoc@gmail.com', N'01/03/2023', 145, 3)
INSERT [dbo].[Orders] ([order_id], [email], [order_date], [total], [order_status_id]) VALUES (3, N'nguyenthanhhoa@gmail.com', N'02/03/2023', 145, 3)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[OrderStatuses] ([order_status_id], [order_status]) VALUES (1, N'Pending')
INSERT [dbo].[OrderStatuses] ([order_status_id], [order_status]) VALUES (2, N'In Progress')
INSERT [dbo].[OrderStatuses] ([order_status_id], [order_status]) VALUES (3, N'Completed')
GO
INSERT [dbo].[ProductStatuses] ([product_status_id], [product_status]) VALUES (1, N'Available')
INSERT [dbo].[ProductStatuses] ([product_status_id], [product_status]) VALUES (2, N'Not- Available')
INSERT [dbo].[ProductStatuses] ([product_status_id], [product_status]) VALUES (3, N'Inventory')

GO
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (2, N'User')
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([sku])
REFERENCES [dbo].[Products] ([sku])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([order_status_id])
REFERENCES [dbo].[OrderStatuses] ([order_status_id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([product_status_id])
REFERENCES [dbo].[ProductStatuses] ([product_status_id])
GO
