.product-list {
  margin: 3rem 0;
}
.product-item {
  margin: 1.5rem 0;
  position: relative;
}
.product-img,
.product-title {
  display: block;
  color: black;
}

.product-img img {
  width: 100%;
}

.product-title h4 {
  text-align: center;
  height: 40px;
}

.product-title:hover {
  text-decoration: none;
}
.product-price {
  display: flex;
  justify-content: center;
}

.product-price__new,
.product-price__old {
  font-size: 1.6rem;
}

.product-price__new {
  color: rgb(216, 21, 21);
  font-weight: bold;
}

.product-price__old {
  margin-left: 1rem;
  text-decoration: line-through;
}

.product-btn {
  display: block;
  width: 100%;
  background-color: #000;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 1.6rem;
}

.product-btn:hover {
  color: white;
  background-color: #3d3d3d;

  text-decoration: none;
}
.saleoff_tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(216, 21, 21);
  color: white;
  padding: 5px;
}

.saleoff_tag p {
  font-size: 1.4rem;
}
.productdetail-btn{
  display: block;
  background-color: #000;
  font-size: 1.4rem;
  padding: 1rem 2.5rem;
  color: white;
  min-width: 140px;
  text-align: center;
}
.productdetail-btn:hover{
  color: white;
  text-decoration: none;
  background-color: #3d3d3d;
}